:root{
    --main: #450000;
    --main-light: #B89685;
    --white: #F5DFBB;
    --accent: #4E4E4E;
    --accent-dark: #313131;
    --text-shadow: 0 0 20px rgba(0, 0, 0, 0.300);
}
/* Website Version */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: var(--main);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

section {
    padding-inline: 10%;

    font-family: "DM Sans", sans-serif;
    color: var(--white);

    min-height: 100vh;

    background-image: url("./images/julian-hero-bg-img.png");
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);
}

h3 {
    font-size: 4rem;
    text-align: center;
    color: var(--white);
}

h4 {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
}

p {
    font-size: 1.2rem;
}

.under-construction {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5rem;
    
    backdrop-filter: blur(10px);
}

.under-construction img{
    height: 50vh;
}

.main-text{
    height: fit-content;
    padding: 1rem;
    margin-bottom: 10rem;
}